description = "Loader Modal"

[viewBag]
snippetCode = "loader-modal"
snippetName = "Loader"
==

<div class="modalLoader" data-loader-kiper="true" style="display: none;">
  <img src="{{ 'assets/img/loader-kiper.gif'|theme }}" alt="Loader Kiper" class="modalLoader__img">
  <div class="modalLoader__box">
    <p>Espera un momento por favor...</p>
  </div><!-- end.modalLoader__box -->
</div><!-- end.modalLoader -->

<div class="content-modal" style="display: none;" >
  <div  class="col-12 col-md-10 col-lg-7 content-modal__body"  >
    <div class="row justify-content-center d-flex">
      <div class="col-md-10">
        <h3 class="planesct__disclaimer">HA OCURRIDO UN ERROR</h3>
        <br>
        <label>El pago no pudo ser confirmado, verifique sus datos bancarios, o intente con otra tarjeta.<br> Si tu banca cuenta la opción de tarjeta virtual, es necesario ingresar los datos bancarios de dicha tarjeta para poder procesar tu pago.</label>
        <br>
        <label>¿Tienes dudas? Ponte en contacto con nostros: hola@kiper.app </label>
      </div>
        <div class="col-md-3 mt-5">
          <input class="planesct__link btn__cancel" type="button" value="Aceptar">  
        </div>
      </div>
    <div>    
  </div>
</div>