description = "Modal para avisos"

[viewBag]
snippetCode = "modal"
snippetName = "Modal"
==

<div id="modalAvisos" class="modalInteres">
  <button id="closeModalAvisoDos" class="btnCloseModal" data-close-aviso=""><i class="fa fa-times"></i></button>
  <div id="modalAvisoDos" class="contentInfoAviso">
    <div class="contentInfoAviso__up">
      <div class="iconModal">
        <img src="{{ 'assets/img/kiper.svg'|theme }}" alt="Kiper">
      </div>
      <div class="descUpAvi">
        <h2><i class="fa fa-error"></i> ¡Error de pago!</h2>
        <p>Lo sentimos, error en la transacción.</p>
      </div>
    </div>
    <div class="contentInfoAviso__down">
      <div class="descDownAvi">
        <p>Puedes intentar más tarde.</p>
        <a href="{{ 'inicio'|page }}">Regresar a inicio</a>
      </div>
    </div>
  </div><!-- end.avisoUno -->
</div>