description = "Registro factura"

[viewBag]
snippetCode = "modal-factura"
snippetName = "RFC Modal"

[builderList estadoList]
modelClass = "Kiper\Facturacion\Models\MX"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "nombre"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 50
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "asc"
==
{% set estados = estadoList.records %}
<!-- Modal -->
<div class="modal fade" id="dataFactura" tabindex="-1" role="dialog" aria-labelledby="dataFacturaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="POST" name="frmRegRFC" id="frmRegRFC">
        <input type="hidden" name="data_clientFac" id="data_clientFac" value=""  readonly="readonly"/>
      <div class="modal-header">
        <h5 class="modal-title" id="dataFacturaLabel">Registrar datos</h5>
        <button type="button" class="closeModalFac close" id="closeModalRFC">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="inputsFact">
          <div class="inputsFact__inputs">
            <div class="frmInicia modalCtFrm">
              <div class="row g-3">
                <div class="col-12 col-md-6 inputStyle">
                  <select class="form-select country" id="comprobante" name="comprobante">
                    <option value="">Tipo de comprobante</option>
                    <option value="factura">Factura fiscal</option>
                    <option value="recibo_simple">Recibo simple</option>
                  </select>
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <select class="form-select" id="tipo_persona" name="tipo_persona">
                    <option value="">Tipo persona</option>
                    <option value="fisica">Física</option>
                    <option value="moral">Moral</option>
                  </select>
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <input type="text" name="nombre_fiscal" id="nombre_fiscal" class="form-control fisica customInpFac" placeholder="Nombre*">
                  <input type="text" name="razon" id="razon" class="form-control moral customInpFac" style="display: none;"placeholder="Razón Social*">
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <input type="text" name="rfc" id="rfc" class="form-control" placeholder="RFC*">
                </div><!-- end.col-* -->
                <div class="col-12 inputStyle">
                  <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Dirección Físcal (Calle, No. Exterior, No. Interior)*">
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <input type="text" name="colonia" id="colonia" class="form-control" placeholder="Colonia*">
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <input type="text" name="cpostal" id="cpostal" class="form-control" placeholder="Código Postal*">
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <select class="form-select country" id="estado" name="estado">
                    <option value="">Estado</option>
                  {% for estado in estados %}
										<option value="{{ estado.id }}">{{ estado.nombre }}</option>
									{% endfor %}
                  </select>
                </div><!-- end.col-* -->
                <div class="col-12 col-md-6 inputStyle">
                  <input type="text" name="municipio" id="municipio" class="form-control" placeholder="Delegación / Municipio*">
                </div><!-- end.col-* -->
              </div><!-- end.row -->
            </div>
          </div><!-- end.inputsFact -->
        </div><!-- end#dataFactura -->
      </div>
      <div class="modal-footer">
        <input type="submit" id="submit" class="bgtnSendFac bgtnSendFac--widthCenter" value="Guardar Registro" />
      </div>
      </form>
    </div>
  </div>
</div>